<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET PASSWORD</title>
</head>

<body>
    <h2>Enter your new password</h2>
    <form action="/api/auth/reset-password" , method="POST">
        <div>
            <input type="hidden" name="resetPWDToken" value="<%= token %>">
        </div>
        <div>
            <input type="password" name="newPassword" required placeholder="Enter your new password">
        </div>
        <button type="submit">Reset password</button>
    </form>
</body>

</html>