<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        h2 {
            display: flex;
            justify-content: center;
        }

        div {
            display: grid;
            place-items: center;
        }

        button {
            margin: 5px;
        }
    </style>
</head>

<body>
    <% if (!message) { %>
        <form action="/api/auth/reset-password" method="POST">
            <input type="hidden" name="token" value="<%= token %>" />
            <div>
                <input type="password" name="newPassword" required placeholder="Enter your new password" />
                <button type="submit">Reset password</button>
            </div>
        </form>
        <% } %>

            <% if (message) { %>
                <p style="color: blue; display: flex; justify-content: center;">
                    <%- message %>
                </p>
                <% } %>
</body>

</html>